<ion-header >
  <ion-toolbar>
    <ion-title>Bienvenidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <br><br><br><br><br><br><br><br><br>
  <div class="centrar">

    
    <ion-grid >
      <ion-row>
        <ion-col size="12">
          <h1 class="textBienv">Louvre</h1>
          <h6 class="textBienv">Museo De Arte</h6>

        </ion-col>
        <ion-col size="12">
          <ion-button class="botonBienv" color="transparent" [routerLink]="['/login']">
            Comenzar <ion-icon name="enter-outline"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  
  </div>
</ion-content>